main {
    flex: 1 0 auto;
  }

body {
    background-color: #0F0F0F;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.code-section {
    padding: 10rem;
}

footer {
    color: white;    
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #FAFAFA;
}
code {
background-color:#32CD32}

  
  
